/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0b0b;
  color: #ffffff;
  line-height: 1.6;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #0b0b0b;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #ff004f;
}

.logo {
  color: #ff004f;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: #ff004f;
}

.hero p {
  margin: 10px 0 20px;
  color: #ababab;
}

.btn {
  background: #ff004f;
  padding: 12px 25px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}

.btn:hover {
  background: #ff3366;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dark {
  background: #111;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skills span {
  background: #1a1a1a;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ff004f;
}

/* PROJECT */
.project {
  max-width: 500px;
  margin: auto;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

/* LINKS */
a {
  color: #ff004f;
}
